extends layout.pug

block number1 
    if error
        p.error Please Fill the input

    if success
        p.success Good Job

    if deleted
        p.success Deleted 

    form.form(action='/add' method='POST')
        input.input(type='text', placeholder='Add your todo' name='todo')
        button.btn Add

    div.todos
        if (todos.length)  
            each todo in todos
                p.todo 
                    span #{ todo.description}
                    a.delete(href=`/${ todo.id }/delete`) Delete
        else
            p.todo No Tasks!