doctype html 
html(lang='en')
    head
        title 
        link(rel='stylesheet', href='/static/main.css')
        script(src="/static/app.js")
    body
    nav
        div
            if error
                p.error ENTER THE TASK

            if success
                p.success TASK ADDED

            if deleted
                p.success DELETED 
        a(href="/login") LOGIN 

    div.wrapper
        h1.logo TASK MANAGER
        div.date
            h2 TODAY:
            p#demo TUESDAY
        block number1
    footer 
        div This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service