doctype html 
html(lang='en')
    head
        title 
        link(rel='stylesheet', href='/static/main.css')
        script(src="/static/app.js")
    body
    nav
        div
            if error
                p.error ENTER THE TASK

            if success
                p.success TASK ADDED

            if deleted
                p.success Deleted 
        a(href="/login") LOGIN 

    div.wrapper
        h1.logo Task Manager
        div.date
            h2 Today:
            p(id = "demo") Tuesday
        block number1