<link rel="stylesheet" href="/static/main.css">
<script src="../app.js"></script>
<div class="update">
    <div class="showEditWindows">
        <input type="text", name="update">
        <button>Save</button>
        <a href="javascript:history.go(-1)">Back</a>
    </div>
</div>


